fastapi
uvicorn # required by fastapi
pytest # https://fastapi.tiangolo.com/tutorial/testing/
httpx # required for testing
python-Levenshtein # for fuzzywuzzy
fuzzywuzzy # for fuzzy gened matching
pandas # for dataframes
polars # for dataframes
pyarrow # for feather files
pydantic # for data models
requests # for http requests
aiohttp # for async http requests